.container_cabecalho {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.cabecalho_opcoes {
    display: flex;
    gap: 2em;
    align-items: center;
}

.link_cabecalho {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: var(--preto);
    opacity: 0.8;
    transition: 0.2ms ease;
}

.link_cabecalho:hover {
    opacity: 1;
    border-bottom: 1px solid black;
}