.container_main {
    display: flex;
    align-items: center;
}

.img_main {
    order: 2;
    margin-right: 8em;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 4em;
}

.main_titulo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 83px;
    color: #2D2B2C;
}

.main_texto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: 2em 0;
    width: 55%;
}

.main_opcoes {
    display: flex;
    gap: 3em;
    align-items: center;
}

button {
    padding: 1em 2em;
    background: #2D2B2C;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 3ms ease;
}

button:hover {
    opacity: 0.5;
}

.texto_opcoes {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.shoes_img {
    background-color: #F6F0F0;
    width: 100%;
    height: 26vh;
}

.container_shoes {
    display: flex;
    gap: 2em;
    margin-left: 2em;
}

.img_shoes {
    margin: 2em 0;
}